
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Analytics Web</title>

   
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <a href="/showSignin" id="signin"> SignIn </a>

   
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Sign In</a></li>
 	    <li role="presentation"><a href="/showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Mobile Sale</h3>
      </div>

      <div class="jumbotron">
        <h1>Statistics on consumer mobile </h1>
        <p class="lead"></p>
        <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>usage and adoption to inform your mobile marketing strategy mobile site design and app development</h4>
          <p>
Statistics on consumer mobile usage and adoption to inform your mobile marketing strategy mobile site design and app development
"Mobile to overtake fixed Internet access by 2014" was the huge headline summarising the bold prediction from 2008 by Mary Meeker, an analyst at Kleiner Perkins Caufield Byers who reviews technology trends annually in May. Eric Schmidt of Google exhorted businesses to take a 'Mobile First' approach to designing web experiences.</p>

          <h4>Mobile eCommerce Stats in 2018 and the Future Trends of mCommerce</h4>
          <p>Statistics show that 40% of users will go to the competitor after a bad mobile experience, yet an alarming 84% have experienced difficulty completing a mobile transaction. That is an incredibly high number, and it shows just how great the opportunity is for companies to capitalize on consumer conversion just by creating mobile responsive and user-friendly websites.</p>

          <h4>Smartphones - Statistics & Facts</h4>
          <p>Smartphones, mobile phones with more advanced computing capabilities and connectivity than regular mobile phones, came onto the consumer market in the late 90s, but only gained mainstream popularity with the introduction of Apple’s iPhone in 2007. The iPhone revolutionized the industry by offering customer friendly features such as a touch screen interface and a virtual keyboard. The first smartphone running on Android was introduced to the consumer market in late 2008. The smartphone industry has been steadily developing and growing since then, both in market size, as well as in models and suppliers</p>
        </div>

        <div class="col-lg-6">
          <h4>Global mobile consumer trends: Second edition</h4>
          <p>Roughly four decades after the introduction of the first mobile phone, almost every developed country surveyed has at least 90 percent mobile phone penetration. Mobile has become increasingly pervasive and indispensable, with consumers the world over enthusiastically embracing its potential. Our second edition of the global mobile consumer trends report highlights consumer attitudes towards mobile technology from across a range of developed and developing countries.</p>

          <h4>Portable Consumer Electronics in Latin America</h4>
          <p>CONSUMERS ARE CAUTIOUS ABOUT WHAT THEY SPEND ON
The economic downturns seen by many Latin American countries have stifled consumer spending. Single-function electronic devices such as portable multimedia players, cameras and camcorders are the ones most susceptible to a fall in demand, as consumers either delay purchases or replace products with multifunctional alternatives such as smartphones.

</p>

          <h4>New Guide: Mastering Mobile Point of Sale Trends</h4>
          <p>Did you know 78 percent of retailers are piloting or planning to implement mPOS by the end of 2015? Industry experts forecast mobile adoption around the world at 286 million businesses in 2015, rising to 304 million just two years later. Although many early adopters are focused on the “wow” factor, the current generation of mobile POS solutions opens up payment options for merchants of all sizes and in every industry you can think of including some you may not have considered. The factors driving the growth of mPOS are universal.</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; Company 2015</p>
      </footer>

    </div>
  </body>
</html>

